.container{
    display: contents;
}
.test
{
display: flex;
flex-wrap: wrap;
justify-content:center;
margin-top:0px;
}
.header
{
    align-items: center;
}
.button
{
    display: flex;
    justify-content: center;
}
.site{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}



    @media (max-width: 768px) {
        .card{
            width:450px;
            height:420px;
            margin: 20px;
        }
        }
        @media (max-width: 400px) {    
        .card{
            width:450px;
            height:460;
            margin: 20px;
        }
        }
  
   /* .card{
    width:450px;
    /* height:460; */
    /* margin: 20px; */
